# Ignore version control files and directories
.git
.gitignore

# Ignore Python bytecode files and cache files
*.pyc
__pycache__

# Ignore local logs and temporary files
logs/
temp/

# Ignore test data and documentation
test/
docs/

# Ignore other unnecessary files and directories
*.log
*.swp
.DS_Store
checkpoints/
dataset/
results/
test_results/
.venv/
.vscode/